<div style="position:fixed;">
	<%= link_to "back", home_top_path %>
</div>
<div>
		<% @users = User.all %>
		<% @users.each do |users| %>
				<div style="display:none;">
					<%= @exist_users = User.new %>
				</div>
				<%= form_for(@exist_users, url: update_user_path) do |fff| %>
						<%= fff.hidden_field :id, value:users.id %>
						<div>
						  <%= fff.label :name,"名前" %>
					  	<%= fff.text_field  :name , value:users.name %>
						</div>
						<div>
						  <%= fff.label :email,"メール" %>
					  	<%= fff.email_field  :email , value:users.email %>
						</div>
						<div>
						  <%= fff.label :password,"パスワード" %>
					  	<%= fff.password_field :password , value:users.password %>
						</div>
						<div>
						  <%= fff.label :del_flg, "削除フラグ" %>
					  	<%= fff.select  :del_flg, [['未削除',0],['削除',1]], { include_blank: true, selected: if users.del_flg == 1 || users.del_flg == true then 1 else 0 end } %>
						</div>
						<div>
						  <%= fff.label :admin_flg, "管理者フラグ" %>
					  	<%= fff.select  :admin_flg, [['ユーザー',0],['管理者',1]], { include_blank: true, selected: if users.admin_flg == 1 || users.admin_flg == true then 1 else 0 end } %>
						</div>
						<div>
					  	<%= fff.submit "Submit", class: "btn btn-theme btn-lg mb-8" %>
						</div>
				<% end %>
		<% end %>
</div>
