<div id="newLogin">
	<div class="pb-5">
		<h1>Login</h1>
	</div>
	<%= form_for(:session, url: login_path) do |f| %>
		<div>
			<%= f.label :name %>
		</div>
		<div>
			<%= f.text_field :name %>
		</div>
		<div>
			<%= f.label :password %>
		<div>
		</div>
			<%= f.password_field :password %>
		</div>
		<div class="pt-5">
			<%= f.submit "Log in" %>
		</div>
	<% end %>
</div>
