<div class="whiteBack2 manage">
		<div style="position:fixed;" class="mt-4 ml-4">
			<%= link_to "back", home_top_path, class: 'btn btn-default btn btn-theme btn-lg' %>
		</div>
		<div>
				<% @schedules = Schedule.all.order("schedules.start_at") %>
				<% @schedules.each do |schedules| %>
						<div class="m-3 p-2 rounded" style="border: dashed;">
								<div style="display:none;">
										<%= @exist_schedules = Schedule.new %>
								</div>
								<%= form_for(@exist_schedules, url: update_path) do |f| %>
										<%= f.hidden_field :id, value:schedules.id %>
										<div>
											  <%= f.label :start_at,"日時(from)" %>
										  	<%= f.datetime_select  :start_at , {default: schedules.start_at} %>
										</div>
										<div>
											  <%= f.label :end_at,"日時(to)" %>
										  	<%= f.datetime_select  :end_at , {default: schedules.end_at} %>
										</div>
										<div>
											  <%= f.label :place,"場所" %>
										  	<%= f.text_field :place , value:schedules.place,class: "form-control" %>
										</div>
										<div>
											  <%= f.label :price_all, "コート料金" %>
										  	<%= f.number_field  :price_all , value:schedules.price_all,class: "form-control" %>
										</div>
										<div>
											  <%= f.label :price_per, "参加費" %>
										  	<%= f.number_field  :price_per , value:schedules.price_per,class: "form-control" %>
										</div>
										<div>
											  <%= f.label :court_num, "集合場所" %>
										  	<%= f.text_field :court_num , value:schedules.court_num,class: "form-control" %>
										</div>
										<div>
											  <%= f.label :max_join, "定員" %>
										  	<%= f.number_field :max_join , value:schedules.max_join,class: "form-control" %>
										</div>
										<div>
											  <%= f.label :explanation, "説明" %>
										  	<%= f.text_field :explanation , value:schedules.explanation,class: "form-control" %>
										</div>
										<div>
									  		<%= f.submit "Update", class: "btn btn-theme btn-lg mb-8 mt-3" %>
										</div>
								<% end %>
						</div>
				<% end %>
		</div>
</div>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap" rel="stylesheet">
